@import "tailwindcss";

:root {
  --background: #f3f3f3;
  --foreground: #121214;
  --darkerbackground: #d8d8d8;
  --bgborder: #dfdede;
  --bginside: #f3f4f6;
}
.dark {
  --background: #121214;
  --foreground: #fafafa;
  --darkerbackground: #09090B;
  --bgborder: #1f1f1f;
  --bginside: #1f1f1f;
}

@theme inline {
  --color-grimorium: #9660B4;
  --color-grimoriumhover: #56246A;

  --color-background: var(--background);
  --color-darkerbackground: var(--darkerbackground);
  --color-bginside: var(--bginside);
  --color-bgborder: var(--bgborder);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@utility toast-mistic {
  @apply fixed bottom-5 right-5 z-100 flex items-center gap-3 px-6 py-4 rounded-xl 
         bg-bginside border border-white/10 shadow-2xl transition-all duration-300;
  
  /* A bordinha de baixo com o seu gradiente */
  &::after {
    content: '';
    @apply absolute bottom-0 left-1/2 -translate-x-1/2 h-[2px] w-[80%] rounded-full;
    background: linear-gradient(90deg, transparent, var(--color-grimorium), transparent);
  }
}

/* Animação de entrada (surge da direita) */
@keyframes slide-in-right {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

.animate-toast {
  animation: slide-in-right 0.4s ease-out forwards;
}

@utility btn-mistic {
  @apply rounded-xl text-white transition-all duration-500 border border-white/10;
  
  background-image: linear-gradient(
    90deg,
    var(--color-grimorium) 0%,
    var(--color-grimoriumhover) 40%,
    var(--color-grimoriumhover) 60%,
    var(--color-grimorium) 100%
  );
  
  background-size: 200% auto;
  background-position: 0% center;
  box-shadow: 0 0 20px rgba(var(--grimorium-primary-raw), 0.2);

  &:hover {
    background-position: 200% center;
    box-shadow: 0 0 30px rgba(var(--grimorium-primary-raw), 0.4);
    transform: scale(1.02);
    animation: mistic-flow 4s linear infinite; 
  }
}

@keyframes mistic-flow {
  from { background-position: 0% center; }
  to { background-position: 200% center; }
}